#!/bin/sh
#Replace this script with one of your own.

export DISPLAY=:0
export GPU_USE_SYNC_OBJECTS=1
export GPU_MAX_ALLOC_PERCENT=100

# Path were cgminer is installed
cd ~/BTC/cgminer-3.7.2-kalroth/

#Start scrypt mining with API access enabled for future instances of the above command
screen -dmS cgminer ./cgminer --scrypt -c ~/.cgminer/scrypt.conf  --auto-fan --api-network --api-listen --api-allow W:127.0.0.1